body{
    background-image: url(images/Ajyaadlogo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}



/* Style for navigation menu */
        nav {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
        nav a {
            text-decoration: none; /* remove underline */
            color: blue; /* link color */
            margin: 0 15px; /* spacing */
            font-weight: bold;
        }
        nav a:hover {
            color: red; /* color when hovered */
        }
         h1, h2 {
            text-align: center;
            color: green;
        }

        /* Paragraphs */
        p {
            max-width: 800px;
            margin: 10px auto;
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
         ul {
            max-width: 800px;
            margin: 20px auto;
            padding: 0;
            list-style-type: none;
        }
        ul li {
            background: #fff;
            margin: 8px 0;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
         footer {
            background-color: #f2f2f2;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
            border-top: 2px solid #ddd;
        }
        footer a {
            text-decoration: none;
            color: blue;
            margin: 0 10px;
        }
        footer a:hover {
            color: red;
        }